*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1170px;
    margin: 0 auto;
}

.row{
    width: 100%;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}

[class*="col-"]{
    float: left;
}

.col-1{
    width: calc((100%/22)*1);
}
.col-2{
    width: calc((100%/22)*2);
}
.col-3{
    width: calc((100%/22)*3);
}
.col-4{
    width: calc((100%/22)*4);
}
.col-5{
    width: calc((100%/22)*5);
}
.col-6{
    width: calc((100%/22)*6);
}
.col-7{
    width: calc((100%/22)*7);
}
.col-8{
    width: calc((100%/22)*8);
}
.col-9{
    width: calc((100%/22)*9);
}
.col-10{
    width: calc((100%/22)*10);
}
.col-11{
    width: calc((100%/22)*11);
}
.col-12{
    width: calc((100%/22)*12);
}
.col-13{
    width: calc((100%/22)*13);
}
.col-14{
    width: calc((100%/22)*14);
}
.col-15{
    width: calc((100%/22)*15);
}
.col-16{
    width: calc((100%/22)*16);
}
.col-17{
    width: calc((100%/22)*17);
}
.col-18{
    width: calc((100%/22)*18);
}
.col-19{
    width: calc((100%/22)*19);
}
.col-20{
    width: calc((100%/22)*20);
}
.col-21{
    width: calc((100%/22)*21);
}
.col-22{
    width: calc((100%/22)*22);
}